body {
  padding-top: 20px;
  padding-bottom: 60px;
  color: #3d3d3d;
}
/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
  background: url(../img/grey.png) repeat 0 0;
}
.container > hr {
  margin: 30px 0;
}
#tmc {
  padding: 30px;
}
.brand {
  font: 0/0 a;
  color: transparent;
  background: url(../img/logot.png) top left no-repeat;
  width: 310px;
  height: 181px;
  display: block;
  margin-bottom: 20px;
}
h1 {
  color: #477289;
}
h2 {
  text-align: center;
  color: #8ac643;
}
h1, h2, .lead, .btn {
  font-family: 'Signika', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
}
.btn-custom {
  background-color: hsl(16.6, 84.7%, 48.6%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e54d13", endColorstr="#b73e0e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e54d13), to(#b73e0e));
  background-image: -moz-linear-gradient(top, #e54d13, #b73e0e);
  background-image: -ms-linear-gradient(top, #e54d13, #b73e0e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e54d13), color-stop(100%, #b73e0e));
  background-image: -webkit-linear-gradient(top, #e54d13, #b73e0e);
  background-image: -o-linear-gradient(top, #e54d13, #b73e0e);
  background-image: linear-gradient(#e54d13, #b73e0e);
  border-color: #b73e0e #b73e0e hsl(17, 85.8%, 38.6%);
  color: #fff !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}
.cb {
  text-align: center;
}
.cb .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jb {
  text-align: justify;
}
.wbb {
  background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.wals {
  margin-top: 20px;
}
/* Form code */
iframe {
  height: 560px;
  margin-left: 30%;
}
#twitter-box iframe {
  height: 300px;
  margin-left: 24%;
}
a#foxyform_embed_link_54370 {
  display: none !important;
}
.footer {
  font-size: 12px;
  text-align: center;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 20px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 64px;
  line-height: 1;
}
.carousel-control {
  top: 48% !important;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
  color: #3d3d3d;
}
.jumbotron .btn {
  font-size: 28px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  color: #477289;
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}
.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}
.navbar .nav>li>a:hover, .navbar .nav>li>a:focus {
  color: #8ac643;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  color: #8ac643;
}
/* Fit when mobile */
@media (max-width: 960px) {
  .jumbotron h1 {
    font-size: 75px;
  }
  .jumbotron .lead {
    font-size: 18px;
  }
  .jumbotron .btn {
    font-size: 21px;
    padding: 10px 16px;
  }
  .wbb {
    margin-bottom: 10px;
  }
  h2 {
    font-size: 25.5px;
    line-height: 25px;
  }
  .cb .btn {
    font-size: 18px;
    padding: 10px 16px;
  }
  iframe {
    margin-left: 19%;
  }
}
@media (max-width: 640px) {
  .navbar .nav>li>a {
    padding: 10px 0px 10px;
  }
  .jumbotron h1 {
    font-size: 50px;
  }
  .jumbotron .lead {
    font-size: 15px;
  }
  iframe {
    margin-left: 9%;
  }
  .carousel-control, .carousel-indicators {
    display: none;
  }
}
@media (max-width: 480px) {
  .jumbotron h1 {
    font-size: 30px;
  }
  .jumbotron .lead, .jb, .wbb ul li {
    font-size: 12px;
  }
  .wbb {
    margin-bottom: 10px;
  }
  .navbar .nav li {
    display: block;
    width: auto;
    line-height: 10px;
  }
  .navbar .nav>li>a {
    padding: 8px 15px 8px;
  }
  .jb {
    text-align: left;
  }
  iframe {
    margin-left: 0%;
    width: 300px;
    overflow-x: visible;
  }
}
@media (max-width: 360px) {
  .brand {
    -webkit-background-size: 70%;
    -moz-background-size: 70%;
    background-size: 70%;
    height: 126px;
  }
  h4 {
    font-size: 15.5px;
  }
  p.jb, .wbb ul li {
    font-size: 10px;
    line-height: 12px;
  }
  iframe {
    width: 170px;
  }
}
